# üêç NYC High School Directory Exploration

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2

## ‚úÖ Instructions:

### 1. Download the dataset from the `day_2_datasets` folder.

In [3]:
# download the dataset
import kagglehub

# Download latest version
path = kagglehub.dataset_download("new-york-city/nyc-high-school-directory")

print("Path to dataset files:", path)

/Users/zeal.v/Desktop/Mock_Interviews/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /Users/zeal.v/.cache/kagglehub/datasets/new-york-city/nyc-high-school-directory/versions/7

In [4]:
import os

# List all files in the dataset directory to find the correct CSV file
print("Files in dataset directory:")
print(os.listdir(path))

Files in dataset directory:
['doe-high-school-directory-2013-2014.csv', 'DOE_High_Shool_Directory_2013-2014.xlsx', 'Archived_DOE_High_School_Directory_2014-2015.csv', '2016-doe-high-school-directory.csv', 'socrata_metadata_2016-doe-high-school-directory.json', 'socrata_metadata_doe-high-school-directory-2013-2014.json', 'socrata_metadata_2014-2015-doe-high-school-directory.json', 'doe hsdirectory school column description.csv', '2017-doe-high-school-directory.csv', 'socrata_metadata_2017-doe-high-school-directory.json', '2016_DOE_High_School_Directory.xlsx', '2014-2015_DOE_High_Shool_Directory.xlsx', 'Archived_DOE_High_School_Directory_2016.csv', '2014-2015-doe-high-school-directory.csv', '2017_DOE_High_School_Directory.xlsx']

### 2. Open a new Jupyter Notebook and:

#### - Load the dataset using pandas

In [5]:
# Load the dataset
df = pd.read_csv(os.path.join(path, "2014-2015-doe-high-school-directory.csv"))

# Display the first few rows of the DataFrame
print(f"First few rows of the DataFrame:\n{df.head()}")

First few rows of the DataFrame:
      dbn                                        school_name    borough  \
0  27Q260          Frederick Douglass Academy VI High School     Queens
1  21K559        Life Academy High School for Film and Music   Brooklyn
2  16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
3  08X305                               Pablo Neruda Academy      Bronx
4  03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          Q465  718-471-2154  718-471-2890             9.0              12
1          K400  718-333-7750  718-333-7775             9.0              12
2          K026  718-574-2820  718-574-2821             9.0              12
3          X450  718-824-1682  718-824-1663             9.0              12
4          M485  212-496-0700  212-724-5748             9.0              12

   expgrade_span_min  expgrade_span_max  ... Council District Census Tract  \
0                NaN                NaN  ...             31.0     100802.0
1                NaN                NaN  ...             47.0        306.0
2                NaN                NaN  ...             36.0        291.0
3                NaN                NaN  ...             18.0         16.0
4                NaN                NaN  ...              6.0        151.0

         BIN           BBL                                                NTA  \
0  4300730.0  4.157360e+09  Far Rockaway-Bayswater                        ...
1  3186454.0  3.068830e+09  Gravesend                                     ...
2  3393805.0  3.016160e+09  Stuyvesant Heights                            ...
3  2022205.0  2.036040e+09  Soundview-Castle Hill-Clason Point-Harding Par...
4  1030341.0  1.011560e+09  Lincoln Square                                ...

   Zip Codes Community Districts  Borough Boundaries City Council Districts  \
0    20529.0                  51                   3                     47
1    17616.0                  21                   2                     45
2    18181.0                  69                   2                     49
3    11611.0                  58                   5                     31
4    12420.0                  20                   4                     19

  Police Precincts
0               59
1               35
2               52
3               26
4               12

[5 rows x 69 columns]

In [13]:
# Display the shape of the DataFrame
print(f"Shape of the DataFrame: {df.shape}")

Shape of the DataFrame: (435, 69)

#### - Clean the column names (make lowercase, replace spaces with _, remove special characters)

In [16]:
# Display the columns of the DataFrame
print(f"Columns in the DataFrame:\n{df.columns.tolist()}")

Columns in the DataFrame:
['dbn', 'school_name', 'borough', 'building_code', 'phone_number', 'fax_number', 'grade_span_min', 'grade_span_max', 'expgrade_span_min', 'expgrade_span_max', 'bus', 'subway', 'primary_address_line_1', 'city', 'state_code', 'postcode', 'website', 'total_students', 'campus_name', 'school_type', 'overview_paragraph', 'program_highlights', 'language_classes', 'advancedplacement_courses', 'online_ap_courses', 'online_language_courses', 'extracurricular_activities', 'psal_sports_boys', 'psal_sports_girls', 'psal_sports_coed', 'school_sports', 'partner_cbo', 'partner_hospital', 'partner_highered', 'partner_cultural', 'partner_nonprofit', 'partner_corporate', 'partner_financial', 'partner_other', 'addtl_info1', 'addtl_info2', 'start_time', 'end_time', 'se_services', 'ell_programs', 'school_accessibility_description', 'number_programs', 'priority01', 'priority02', 'priority03', 'priority04', 'priority05', 'priority06', 'priority07', 'priority08', 'priority09', 'priority10', 'Location 1', 'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA', 'Zip Codes', 'Community Districts', 'Borough Boundaries', 'City Council Districts', 'Police Precincts']

In [18]:
# Clean the column names (make lowercase, replace spaces with _, remove special characters)
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '', regex=True)
# Display the cleaned column names
print(f"Cleaned column names:\n{df.columns.tolist()}")

Cleaned column names:
['dbn', 'school_name', 'borough', 'building_code', 'phone_number', 'fax_number', 'grade_span_min', 'grade_span_max', 'expgrade_span_min', 'expgrade_span_max', 'bus', 'subway', 'primary_address_line_1', 'city', 'state_code', 'postcode', 'website', 'total_students', 'campus_name', 'school_type', 'overview_paragraph', 'program_highlights', 'language_classes', 'advancedplacement_courses', 'online_ap_courses', 'online_language_courses', 'extracurricular_activities', 'psal_sports_boys', 'psal_sports_girls', 'psal_sports_coed', 'school_sports', 'partner_cbo', 'partner_hospital', 'partner_highered', 'partner_cultural', 'partner_nonprofit', 'partner_corporate', 'partner_financial', 'partner_other', 'addtl_info1', 'addtl_info2', 'start_time', 'end_time', 'se_services', 'ell_programs', 'school_accessibility_description', 'number_programs', 'priority01', 'priority02', 'priority03', 'priority04', 'priority05', 'priority06', 'priority07', 'priority08', 'priority09', 'priority10', 'location_1', 'community_board', 'council_district', 'census_tract', 'bin', 'bbl', 'nta', 'zip_codes', 'community_districts', 'borough_boundaries', 'city_council_districts', 'police_precincts']

In [19]:
# Display the data types of the columns
print(f"Data types of the columns:\n{df.dtypes}")

Data types of the columns:
dbn                        object
school_name                object
borough                    object
building_code              object
phone_number               object
                           ...
zip_codes                 float64
community_districts         int64
borough_boundaries          int64
city_council_districts      int64
police_precincts            int64
Length: 69, dtype: object

In [20]:
# Display summary statistics of the DataFrame
print(f"Summary statistics of the DataFrame:\n{df.describe()}")

Summary statistics of the DataFrame:
       grade_span_min  grade_span_max  expgrade_span_min  expgrade_span_max  \
count      432.000000      435.000000          31.000000          33.000000
mean         8.442130       11.894253           8.516129          12.363636
std          1.164591        0.421583           1.121635           0.783349
min          6.000000        9.000000           6.000000          12.000000
25%          9.000000       12.000000           9.000000          12.000000
50%          9.000000       12.000000           9.000000          12.000000
75%          9.000000       12.000000           9.000000          12.000000
max          9.000000       12.000000           9.000000          14.000000

           postcode  total_students  number_programs  community_board  \
count    435.000000      426.000000       435.000000       432.000000
mean   10726.096552      703.842723         1.708046         6.787037
std      537.927907      775.870436         1.564233         4.367781
min    10001.000000       50.000000         1.000000         1.000000
25%    10301.500000      349.000000         1.000000         3.000000
50%    10472.000000      460.500000         1.000000         6.000000
75%    11217.000000      622.000000         2.000000        10.000000
max    11694.000000     5458.000000        10.000000        18.000000

       council_district   census_tract           bin           bbl  \
count        432.000000     432.000000  4.310000e+02  4.310000e+02
mean          21.856481    3988.340278  2.581724e+06  2.510921e+09
std           14.321718   15582.415491  1.189750e+06  1.136455e+09
min            1.000000       1.000000  1.000811e+06  1.000160e+09
25%           10.000000     118.000000  2.000992e+06  2.023060e+09
50%           18.000000     251.500000  2.116159e+06  2.053680e+09
75%           34.000000     510.250000  3.330710e+06  3.068830e+09
max           51.000000  138501.000000  5.149609e+06  5.066130e+09

          zip_codes  community_districts  borough_boundaries  \
count    434.000000           435.000000          435.000000
mean   14232.228111            38.372414            3.452874
std     3529.272774            19.345374            1.212249
min    10090.000000             1.000000            1.000000
25%    11606.000000            22.000000            2.000000
50%    13093.000000            39.000000            4.000000
75%    16865.750000            53.500000            5.000000
max    24669.000000            71.000000            5.000000

       city_council_districts  police_precincts
count              435.000000        435.000000
mean                28.832184         36.949425
std                 14.209488         21.107520
min                  1.000000          1.000000
25%                 17.000000         23.000000
50%                 32.000000         34.000000
75%                 40.000000         54.000000
max                 51.000000         77.000000

### 3. Filter the dataset to include only schools located in Brooklyn

In [23]:
# Filter the dataset to include only schools located in Brooklyn
brooklyn_schools = df[df['borough'] == 'Brooklyn']
brooklyn_schools.head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,council_district,census_tract,bin,bbl,nta,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
1,21K559,Life Academy High School for Film and Music,Brooklyn,K400,718-333-7750,718-333-7775,9.0,12,NaN,NaN,...,47.0,306.0,3186454.0,3.068830e+09,Gravesend ...,17616.0,21,2,45,35
2,16K393,Frederick Douglass Academy IV Secondary School,Brooklyn,K026,718-574-2820,718-574-2821,9.0,12,NaN,NaN,...,36.0,291.0,3393805.0,3.016160e+09,Stuyvesant Heights ...,18181.0,69,2,49,52
7,17K122,Pathways in Technology Early College High Scho...,Brooklyn,K625,718-221-1593,718-221-1781,9.0,12,9.0,14.0,...,36.0,311.0,3030553.0,3.012160e+09,Crown Heights North ...,17615.0,16,2,49,49
10,23K644,Eagle Academy for Young Men II,Brooklyn,K271,718-495-0863,718-732-2129,6.0,12,NaN,NaN,...,41.0,301.0,3042157.0,3.015500e+09,Ocean Hill ...,13516.0,55,2,17,46
12,15K462,Secondary School for Law,Brooklyn,K460,718-832-4250,718-499-3947,9.0,12,NaN,NaN,...,39.0,155.0,3025510.0,3.010820e+09,Park Slope-Gowanus ...,17617.0,14,2,27,50

### 4. Answer the following:
- How many total schools are in Brooklyn?
- How many offer Grade 9 entry?

In [22]:
# How many total schools are in Brooklyn?
total_brooklyn_schools = brooklyn_schools.shape[0]
print(f"Total schools in Brooklyn: {total_brooklyn_schools}")

Total schools in Brooklyn: 121